/* Global styling */
* {
  box-sizing: border-box;
}

/* Body styles */
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Header styles */
header {
  background-color: white;
  color: black;
  padding: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.5px solid #eae9e9;
}

header h1 {
  font-style: italic;
}

header a {
  margin-left: 30px;
  text-decoration: none;
  color: black;
  font-style: normal;
}

header a:last-child {
  margin-right: 10px;
}

/* Main section styles */
section {
  background-color: white;
  color: black;
  display: flex;
  flex: 70%;
}

/* Navigation menu styles */
nav {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 15px;
}

.nav-title {
  background-color: white;
  color: black;
  border-bottom: 0.5px solid #eae9e9;
  text-align: center;
  margin-right: 20px;
}

.nav-link-group {
  flex-wrap: wrap;
  padding: 10px;
}

.nav-link {
  flex: 1;
  min-width: 250px;
  height: 60px;
  background-color: rgb(231, 231, 231);
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
  cursor: pointer;
}

/* Main article styles */
article {
  -webkit-flex: 3;
  -ms-flex: 3;
  flex: 3;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Container for cards */
.card-container {
  display: flex;
  justify-content: space-between;
  margin-right: 20px;
}

/* Row for arranging cards */
.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
}

/* Card styles */
.card {
  flex: 1;
  min-height: 180px;
  max-width: calc(50% - 20px);
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  box-shadow: lightgray 1.2px 1.2px;
  border-left: 0.5px solid rgb(244, 243, 243);
  margin: 10px;
}

/* Card footer styles */
.card-footer {
  background: white;
  color: #000;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.card-footer p {
  margin: 0;
  font-size: 15px;
  padding: 5px 10px;
}

.card-footer a {
  text-decoration: none;
  color: lightgray;
  font-size: 14px;
  padding: 5px 10px;
  margin-bottom: 5px;
}

/* Footer styles */
footer {
  background-color: white;
  color: black;
  padding: 50px;
  border-bottom: 0.5px solid #eae9e9;
}

footer h1 {
  font-style: italic;
  color: gray;
  margin-left: -20px;
}
